.products-container {
  width: 100%;
  height: 956px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.products-layout301 {
  width: 1124px;
  height: 1754px;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
 
.products-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.products-text10 {
  align-self: flex-start;
}
 
.products-row {
  width: 100%;
  align-self: center;
}
 
.products-feature11 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.products-content1 {
  align-self: stretch;
  align-items: center;
}
 
.products-section-title1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title11 {
  text-align: center;
}
 
.products-description11 {
  display: grid;
  text-align: center;
}
 
.products-button1 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button1:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature12 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-content2 {
  align-self: stretch;
  align-items: center;
}
 
.products-section-title2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title12 {
  text-align: center;
}
 
.products-description12 {
  display: grid;
  text-align: center;
}
 
.products-button2 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button2:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature13 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-content3 {
  align-self: stretch;
  align-items: center;
}
 
.products-section-title3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title13 {
  text-align: center;
}
 
.products-description13 {
  display: grid;
  text-align: center;
}
 
.products-button3 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button3:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature21 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title14 {
  text-align: center;
}
 
.products-description14 {
  display: grid;
  text-align: center;
}
 
.products-button4 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button4:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature22 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title15 {
  text-align: center;
}
 
.products-description15 {
  display: grid;
  text-align: center;
}
 
.products-button5 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button5:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature23 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title16 {
  text-align: center;
}
 
.products-description16 {
  display: grid;
  text-align: center;
}
 
.products-button6 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button6:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature31 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title7 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title17 {
  text-align: center;
}
 
.products-description17 {
  display: grid;
  text-align: center;
}
 
.products-button7 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button7:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature32 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title8 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title18 {
  text-align: center;
}
 
.products-description18 {
  display: grid;
  text-align: center;
}
 
.products-button8 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button8:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-feature33 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.products-section-title9 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.products-title19 {
  text-align: center;
}
 
.products-description19 {
  display: grid;
  text-align: center;
}
 
.products-button9 {
  width: 137px;
  height: 42px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-theme-primary1);
}
 
.products-button9:hover {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  background-color: var(--dl-color-theme-primary2);
}
 
.products-fragment10 {
  display: contents;
}
 
.products-text20 {
  display: inline-block;
}
 
.products-fragment11 {
  display: contents;
}
 
.products-text21 {
  display: inline-block;
}
 
.products-fragment12 {
  display: contents;
}
 
.products-text22 {
  display: inline-block;
}
 
.products-fragment13 {
  display: contents;
}
 
.products-text23 {
  display: inline-block;
}
 
.products-fragment14 {
  display: contents;
}
 
.products-text24 {
  display: inline-block;
}
 
.products-fragment15 {
  display: contents;
}
 
.products-text25 {
  display: inline-block;
}
 
.products-fragment16 {
  display: contents;
}
 
.products-text26 {
  display: inline-block;
}
 
.products-fragment17 {
  display: contents;
}
 
.products-text27 {
  display: inline-block;
}
 
.products-fragment18 {
  display: contents;
}
 
.products-text28 {
  display: inline-block;
}
 
.products-fragment19 {
  display: contents;
}
 
.products-text29 {
  display: inline-block;
}
 
.products-fragment20 {
  display: contents;
}
 
.products-text30 {
  display: inline-block;
}
 
.products-fragment21 {
  display: contents;
}
 
.products-text31 {
  display: inline-block;
}
 
.products-fragment22 {
  display: contents;
}
 
.products-text32 {
  display: inline-block;
}
 
.products-fragment23 {
  display: contents;
}
 
.products-text33 {
  display: inline-block;
}
 
.products-fragment24 {
  display: contents;
}
 
.products-text34 {
  display: inline-block;
}
 
.products-fragment25 {
  display: contents;
}
 
.products-text35 {
  display: inline-block;
}
 
.products-fragment26 {
  display: contents;
}
 
.products-text36 {
  display: inline-block;
}
 
.products-fragment27 {
  display: contents;
}
 
.products-text37 {
  display: inline-block;
}
 
.products-fragment28 {
  display: contents;
}
 
.products-text38 {
  display: inline-block;
}
 
.products-fragment29 {
  display: contents;
}
 
.products-text39 {
  display: inline-block;
}
 
.products-fragment30 {
  display: contents;
}
 
.products-text40 {
  display: inline-block;
}
 
.products-fragment31 {
  display: contents;
}
 
.products-text41 {
  display: inline-block;
}
 
.products-fragment32 {
  display: contents;
}
 
.products-text42 {
  display: inline-block;
}
 
.products-fragment33 {
  display: contents;
}
 
.products-text43 {
  display: inline-block;
}
 
.products-fragment34 {
  display: contents;
}
 
.products-text44 {
  display: inline-block;
}
 
.products-fragment35 {
  display: contents;
}
 
.products-text45 {
  display: inline-block;
}
 
.products-fragment36 {
  display: contents;
}
 
.products-text46 {
  display: inline-block;
}
 
.products-fragment37 {
  display: contents;
}
 
.products-text47 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .products-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .products-feature11 {
    width: 100%;
  }
  .products-feature12 {
    width: 100%;
  }
  .products-feature13 {
    width: 100%;
  }
  .products-feature21 {
    width: 100%;
  }
  .products-feature22 {
    width: 100%;
  }
  .products-feature23 {
    width: 100%;
  }
  .products-feature31 {
    width: 100%;
  }
  .products-feature32 {
    width: 100%;
  }
  .products-feature33 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .products-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .products-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
